/* Code by: Aleksandar Zakoski<https://zako.mk>, 2020 */

body {
  font-family: "Quicksand", sans-serif;
  background-position: top left, right top;
  background-repeat: no-repeat;
}

.text-white-75 {
  color: rgba(255, 255, 255, 0.75) !important;
}

.text-no-decoration {
  text-decoration: none !important;
}

.rounded {
  border-radius: 10px !important;
}

.rounded-top {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}

.rounded-bottom {
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}

.bg-brand-third {
  background-color: #73b8fd;
}

.bg-brand-fourth {
  background-color: #3d85f2;
}

.bg-brand {
  background-color: #0b4f9f;
}

.bg-brand-alt {
  background-color: #0b4f9f;
}

.bg-light {
  background-color: #efeff4 !important;
}

.bg-light-third {
  background-color: #f8f8f8 !important;
}

.bg-light-alt {
  background-color: #8ebbf2;
}

.text-brand-alt {
  color: #e03e6b;
}

.cursor-pointer {
  cursor: pointer;
}

.border-white-medium {
  border: 5px solid #ffffff;
}

.border-white-thick {
  border: 10px solid #ffffff;
}

.breadcrumb > li + li:before {
  content: "|" !important;
}

.confetiend {
  width: auto;
  height: auto;
  z-index: 10;
  position: fixed;
  left: 0;
  top: 20px;
}

.confetipodarok {
  width: 100%;
  height: 100%;
  z-index: 10;
  position: absolute;
  margin: auto;
}

.mobileTitle{
}

@media only screen and (max-width: 600px) {
  .strelki {
    display: none;
  }

  .mobileTitle{
      text-align: center !important;
      align-content: center !important;
      margin: auto !important;
      padding: auto !important;
  }
}
